body {
  background-color: black;
  color: whitesmoke;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

a {
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
}

a:active {
    color: thistle;
}

a:hover {
    color: tomato;
}

.shortcut-key {
    text-decoration: underline;
    text-decoration-color: yellow;
}

.header {
    position: fixed;
    top: 20vh;
    left: 10%;
    width: 80%;
    background-color: rgb(32, 32, 32);
    border-radius: 2px;
    text-align: center;
    z-index: 5;
}

.main-list {
    list-style-type: none;
}