body {
  background-color: black;
  color: whitesmoke;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

a {
    transition: linear 1s;
    background: transparent;
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    padding: 0;
    border-radius: .4em;
}

a:active {
    color: thistle;
}

a:hover {
    color: whitesmoke;
    background: purple;
    padding: 0px 20px;
    border-radius: .4em;
    animation: hover-select 2s linear 1s infinite normal;
}

.shortcut-key {
    text-decoration: underline;
    text-decoration-color: yellow;
}

.header {
    position: fixed;
    top: 20vh;
    left: 10%;
    width: 80%;
    background-color: rgb(32, 32, 32);
    border-radius: 2px;
    text-align: center;
    z-index: 5;
}

.main-list {
    width: 100%;
    list-style-type: none;
}

@keyframes hover-select {
    0% {
        background-color: purple;
        padding: 0px 20px;
    }
    50% {
        background-color: rgb(255, 0, 85);
        padding: 0px 40px;
    }
    100% {
        background: purple;
        padding: 0px 20px;
    }
}